<form *ngIf="showForm">
    <div class="form-row">
      <div class="form-group col-md-3">
        <label>Наименование</label>
        <input type="text" class="form-control"  name="name" placeholder="Наименование" [(ngModel)]="details.name" #name="ngModel" maxlength="15"  required>
      </div>
      <div class="form-group col-md-3">
        <label>Номенклатурый код</label>
        <input type="text" class="form-control"  name="nunCode" [(ngModel)]="details.nunCode" placeholder="Номенклатурый код" #nunCode="ngModel" maxlength="20" required>
      </div>
        <div class="form-group col-md-3">
             <label >Колличество</label>
             <input type="number" class="form-control"  name="sum" [(ngModel)]="details.sum" placeholder="Колличество" #sum="ngModel" required>
         </div>
    
      <div class="form-group col-md-3">
        <label for="inputState">Кладовщик</label>
        <select id="inputState" class="form-control" name="storeKepeerName"  [(ngModel)]="details.storeKepeerName"  #storeKepeerName="ngModel"  required>
            <option  *ngFor="let comp of kepeers" [value]="comp.fullName">
                {{comp.fullName}}
            </option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <mat-form-field appearance="fill" class="example-form-field">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="datepicker" style="border: none;" name="dateCreated" [(ngModel)]="details.dateCreated" #mydate="ngModel" required>
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
      </div>
</div>
<button type="submit" (click)="add()" [disabled]="name.invalid||nunCode.invalid||sum.invalid||storeKepeerName.invalid||mydate.invalid" class="btn btn-primary">Добавить</button>
  </form>
<button (click)="show()" *ngIf="showButton">+</button>
